pcm/try-policy-service/src/main/resources/wsdl/TryPolicy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="TryPolicyService"
	targetNamespace="http://acs.samhsa.gov/pep/ws/contract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:tns="http://acs.samhsa.gov/pep/ws/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://acs.samhsa.gov/pep/ws/contract" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://acs.samhsa.gov/pep/ws/contract">
			<xs:element name="TryPolicy">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="c32Xml" nillable="false" type="xs:string" />
						<xs:element name="xacmlPolicy" nillable="false" type="xsd:string" />
						<xs:element name="purposeOfUse" nillable="false" type="xsd:string" />						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TryPolicyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="segmentedC32Xml" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="TryPolicyPortType_TryPolicy_InputMessage">
		<wsdl:part name="parameters" element="tns:TryPolicy" />
	</wsdl:message>
	<wsdl:message name="TryPolicyPortType_TryPolicy_OutputMessage">
		<wsdl:part name="parameters" element="tns:TryPolicyResponse" />
	</wsdl:message>
	<wsdl:portType name="TryPolicyPortType">
		<wsdl:operation name="TryPolicy">
			<wsdl:input wsaw:Action="http://acs.samhsa.gov/pep/ws/contract/TryPolicyPortType/TryPolicy"
				message="tns:TryPolicyPortType_TryPolicy_InputMessage" />
			<wsdl:output
				wsaw:Action="http://acs.samhsa.gov/pep/ws/contract/TryPolicyPortType/TryPolicyResponse"
				message="tns:TryPolicyPortType_TryPolicy_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TryPolicyHttpBinding" type="tns:TryPolicyPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TryPolicy">
			<soap:operation
				soapAction="http://acs.samhsa.gov/pep/ws/contract/TryPolicyPortType/TryPolicy"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TryPolicyService">
		<wsdl:port name="TryPolicyServicePort" binding="tns:TryPolicyHttpBinding">
			<soap:address location="http://localhost/blabla/doesntmater" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>