pcm/brms-service/src/main/resources/wsdl/RuleExecutionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.samhsa.gov/consent2share/contract/RuleExecutionService"
	xmlns:di="http://www.samhsa.gov/consent2share/schema/RuleExecutionService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="RuleExecutionService"
	targetNamespace="http://www.samhsa.gov/consent2share/contract/RuleExecutionService">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.samhsa.gov/consent2share/schema/RuleExecutionService">
			<xsd:element name="assertAndExecuteClinicalFactsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="clinicalFactXmlString" type="xsd:string"/>														
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="assertAndExecuteClinicalFactsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ruleExecutionResponseContainer" type="xsd:string" />
						<xsd:element name="rulesFired" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="assertAndExecuteClinicalFactsRequest">
		<wsdl:part element="di:assertAndExecuteClinicalFactsRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="assertAndExecuteClinicalFactsResponse">
		<wsdl:part element="di:assertAndExecuteClinicalFactsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="RuleExecutionServicePortType">
		<wsdl:operation name="assertAndExecuteClinicalFacts">
			<wsdl:documentation>Takes a collection of clincalFacts, patientId,
				and documentType and returns a .drl that enforces clinical adaptive
				policies
			</wsdl:documentation>
			<wsdl:input message="tns:assertAndExecuteClinicalFactsRequest" />
			<wsdl:output message="tns:assertAndExecuteClinicalFactsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RuleExecutionServiceBinding"
		type="tns:RuleExecutionServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="assertAndExecuteClinicalFacts">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RuleExecutionService">
		<wsdl:port binding="tns:RuleExecutionServiceBinding"
			name="RuleExecutionServicePort">
			<soap:address
				location="http://localhost:90/RuleExecutionService/services/RuleExecutionService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
