pcm/document-segmentation-service/src/main/resources/wsdl/DSS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DSS" targetNamespace="http://acs.samhsa.gov/dss/ws/contract"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://acs.samhsa.gov/dss/ws/contract"
	xmlns:dss="http://acs.samhsa.gov/dss/ws/schema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
	<wsdl:types>
		<xsd:schema targetNamespace="http://acs.samhsa.gov/dss/ws/schema">
			<xsd:element name="DSSRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documentXml" nillable="false" type="xsd:string"/>
						<xsd:element name="enforcementPoliciesXml" nillable="false" type="xsd:string"/>
						<xsd:element name="audited" minOccurs="0" maxOccurs="1" type="xsd:boolean" />
						<xsd:element name="auditFailureByPass" minOccurs="0" maxOccurs="1" type="xsd:boolean" />
						<xsd:element name="enableTryPolicyResponse" minOccurs="0" maxOccurs="1" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DSSResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="segmentedDocumentXml" type="xsd:string"/>
						<xsd:element name="tryPolicyDocumentXml" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DSSRequestForDirect">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documentXml" nillable="false" type="xsd:string"/>
						<xsd:element name="enforcementPoliciesXml" nillable="false" type="xsd:string"/>
						<xsd:element name="audited" minOccurs="0" maxOccurs="1" type="xsd:boolean" />
						<xsd:element name="auditFailureByPass" minOccurs="0" maxOccurs="1" type="xsd:boolean" />
						<xsd:element name="senderEmailAddress" nillable="false" type="xsd:string"/>
						<xsd:element name="recipientEmailAddress" nillable="false" type="xsd:string"/>
						<xsd:element name="xdsDocumentEntryUniqueId" nillable="false" type="xsd:string"/>
						<xsd:element name="packageAsXdm" nillable="false" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DSSResponseForDirect">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="segmentedDocumentXml" type="xsd:string"/>
						<xsd:element name="postSegmentationMetadataXml" type="xsd:string"/>
						<xsd:element name="documentPayloadRawData" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="DSSRequest">
		<wsdl:part element="dss:DSSRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DSSResponse">
		<wsdl:part element="dss:DSSResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DSSRequestForDirect">
		<wsdl:part element="dss:DSSRequestForDirect" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DSSResponseForDirect">
		<wsdl:part element="dss:DSSResponseForDirect" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="DSSPortType">
		<wsdl:operation name="SegmentDocument">
			<wsdl:documentation>Takes a C32 document and a list of obligations, returns a segmented
				C32 in a format specified by the privacy policies.</wsdl:documentation>
			<wsdl:input message="tns:DSSRequest"/>
			<wsdl:output message="tns:DSSResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SegmentDocumentForDirect">
			<wsdl:documentation>Takes a C32 document and a list of obligations, returns a segmented
				C32 in a format specified by the privacy policies with post segmentation metadata and document payload raw data.</wsdl:documentation>
			<wsdl:input message="tns:DSSRequestForDirect"/>
			<wsdl:output message="tns:DSSResponseForDirect"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DSSBinding" type="tns:DSSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SegmentDocument">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SegmentDocumentForDirect">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DSS">
		<wsdl:port binding="tns:DSSBinding" name="DSSPort">
			<soap:address location="http://localhost:8080/DocumentSegmentation/services/DSS"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
