pcm/c32-service-client/src/main/resources/C32Service0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://schemas.samhsa.gov/c32service" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.samhsa.gov/c32service">
	<xs:element name="GetC32">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="patientId" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetC32Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetC32Result" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>