pcm/xdsb-repository-client/src/main/resources/XDS.b_repository.net-0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:ihe:iti:xds-b:2007"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="urn:ihe:iti:xds-b:2007" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:ihe:iti:xds-b:2007/Imports">
			<xsd:import schemaLocation="XDS.b_repository_types.xsd"
				namespace="urn:ihe:iti:xds-b:2007" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message
		name="XDSRepository_ProvideAndRegisterDocumentSet_InputMessage">
		<wsdl:part name="input" element="tns:ProvideAndRegisterDocumentSetRequest"
			xmlns:q1="http://schemas.microsoft.com/Message" />
	</wsdl:message>
	<wsdl:message
		name="XDSRepository_ProvideAndRegisterDocumentSet_OutputMessage">
		<wsdl:part name="ProvideAndRegisterDocumentSetResult" element="q2:RegistryResponse"
                     xmlns:q2="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" />
	</wsdl:message>
	<wsdl:message name="XDSRepository_RetrieveDocumentSet_InputMessage">
		<wsdl:part name="input" element="tns:RetrieveDocumentSetRequest"
			xmlns:q3="http://schemas.microsoft.com/Message" />
	</wsdl:message>
	<wsdl:message name="XDSRepository_RetrieveDocumentSet_OutputMessage">
		<wsdl:part name="RetrieveDocumentSetResult" element="tns:RetrieveDocumentSetResponse"/>
	</wsdl:message>
	<wsdl:portType name="XDSRepository">
		<wsdl:operation name="ProvideAndRegisterDocumentSet">
			<wsdl:input wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"
				message="tns:XDSRepository_ProvideAndRegisterDocumentSet_InputMessage" />
			<wsdl:output
				wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"
				message="tns:XDSRepository_ProvideAndRegisterDocumentSet_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="RetrieveDocumentSet">
			<wsdl:input wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet"
				message="tns:XDSRepository_RetrieveDocumentSet_InputMessage" />
			<wsdl:output wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"
				message="tns:XDSRepository_RetrieveDocumentSet_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>